In [1]:
import pandas as pd

df = pd.read_csv("../DataSet.csv")
df

,Profile Pic,Nums/Length Username,Full Name Words,Bio Length,External Url,Private,Verified,Business,#Posts,#Followers,#Following,Fake
0,1,0.000,2,42,1,0,0,0,102,678,405,0
1,1,0.067,2,0,0,0,0,0,58,334,434,0
2,1,0.000,0,0,0,0,0,0,44,539,364,0
3,1,0.000,2,14,0,0,0,0,188,3098,286,0
4,1,0.000,2,0,0,0,0,1,496,1079,1979,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1,0.000,2,2,0,1,0,0,8,661,1562,1
1196,0,0.000,0,0,0,0,0,0,0,2,223,1
1197,1,0.000,2,58,0,1,0,0,47,296,4909,1
1198,1,0.143,1,0,0,1,0,0,0,5,67,1
1199,1,0.000,1,0,0,0,0,0,3,81,6108,1

In [2]:
X=df.iloc[:, 0:11].values
X

array([[1.000e+00, 0.000e+00, 2.000e+00, ..., 1.020e+02, 6.780e+02,
        4.050e+02],
       [1.000e+00, 6.700e-02, 2.000e+00, ..., 5.800e+01, 3.340e+02,
        4.340e+02],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 4.400e+01, 5.390e+02,
        3.640e+02],
       ...,
       [1.000e+00, 0.000e+00, 2.000e+00, ..., 4.700e+01, 2.960e+02,
        4.909e+03],
       [1.000e+00, 1.430e-01, 1.000e+00, ..., 0.000e+00, 5.000e+00,
        6.700e+01],
       [1.000e+00, 0.000e+00, 1.000e+00, ..., 3.000e+00, 8.100e+01,
        6.108e+03]])

In [3]:
y=df[['Fake']]
y

      Fake
0        0
1        0
2        0
3        0
4        0
...    ...
1195     1
1196     1
1197     1
1198     1
1199     1

[1200 rows x 1 columns]

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

print(len(X_train), len(y_train))
print(len(X_test), len(y_test))

804 804
396 396

In [5]:
#  K-Nearest Neighbours
from sklearn.neighbors import  KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)

In [6]:
knn.fit(X_train, y_train.values.ravel())

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [7]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, knn.predict(X_test))
print(cm)

[[196   5]
 [  8 187]]

In [8]:
print("TRAIN SET", knn.score(X_train, y_train))
print("TEST  SET", knn.score(X_test, y_test))

TRAIN SET 0.9626865671641791
TEST  SET 0.9671717171717171

In [9]:
from sklearn.model_selection import cross_val_score
print(cross_val_score(knn, X, y.values.ravel(), cv=4))

[0.95       0.97333333 0.95333333 0.95      ]

In [10]:
print("Errori in training set")
predictions = knn.predict(X_train)
for elem, prediction, label in zip(X_train, predictions, y_train):
  if prediction != label:
    print(elem, 'has been classified as ', prediction, 'and should be ', label)

Errori in training set
[1.00e+00 1.82e-01 2.00e+00 6.30e+01 0.00e+00 0.00e+00 0.00e+00 0.00e+00
 9.00e+00 7.87e+02 9.49e+02] has been classified as  0 and should be  Fake