In [12]:
import pandas as pd

df = pd.read_csv("../DataSet.csv")
df

,Profile Pic,Nums/Length Username,Full Name Words,Bio Length,External Url,Private,Verified,Business,#Posts,#Followers,#Following,Delta,Fake
0,1,0.000,2,42,1,0,0,0,102,678,405,273,0
1,1,0.067,2,0,0,0,0,0,58,334,434,-100,0
2,1,0.000,0,0,0,0,0,0,44,539,364,175,0
3,1,0.000,2,14,0,0,0,0,188,3098,286,2812,0
4,1,0.000,2,0,0,0,0,1,496,1079,1979,-900,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1,0.000,2,2,0,1,0,0,8,661,1562,-901,1
1196,0,0.000,0,0,0,0,0,0,0,2,223,-221,1
1197,1,0.000,2,58,0,1,0,0,47,296,4909,-4613,1
1198,1,0.143,1,0,0,1,0,0,0,5,67,-62,1
1199,1,0.000,1,0,0,0,0,0,3,81,6108,-6027,1

In [13]:
X=df.iloc[:, 0:12].values
X

array([[ 1.000e+00,  0.000e+00,  2.000e+00, ...,  6.780e+02,  4.050e+02,
         2.730e+02],
       [ 1.000e+00,  6.700e-02,  2.000e+00, ...,  3.340e+02,  4.340e+02,
        -1.000e+02],
       [ 1.000e+00,  0.000e+00,  0.000e+00, ...,  5.390e+02,  3.640e+02,
         1.750e+02],
       ...,
       [ 1.000e+00,  0.000e+00,  2.000e+00, ...,  2.960e+02,  4.909e+03,
        -4.613e+03],
       [ 1.000e+00,  1.430e-01,  1.000e+00, ...,  5.000e+00,  6.700e+01,
        -6.200e+01],
       [ 1.000e+00,  0.000e+00,  1.000e+00, ...,  8.100e+01,  6.108e+03,
        -6.027e+03]])

In [14]:
y=df[['Fake']]
y

      Fake
0        0
1        0
2        0
3        0
4        0
...    ...
1195     1
1196     1
1197     1
1198     1
1199     1

[1200 rows x 1 columns]

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

print(len(X_train), len(y_train))
print(len(X_test), len(y_test))

804 804
396 396

In [16]:
# Naive Bayes
from sklearn.naive_bayes import GaussianNB
nb= GaussianNB()

In [17]:
nb.fit(X_train, y_train.values.ravel())

GaussianNB(priors=None, var_smoothing=1e-09)

In [18]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, nb.predict(X_test))
print(cm)

[[116  85]
 [  1 194]]

In [19]:
print("TRAIN SET", nb.score(X_train, y_train))
print("TEST  SET", nb.score(X_test, y_test))

TRAIN SET 0.7885572139303483
TEST  SET 0.7828282828282829

In [20]:
from sklearn.model_selection import cross_val_score
print(cross_val_score(nb, X, y.values.ravel(), cv=4))

[0.79333333 0.94       0.77333333 0.67666667]

In [21]:
print("Errori in training set")
predictions = nb.predict(X_train)
for elem, prediction, label in zip(X_train, predictions, y_train):
  if prediction != label:
    print(elem, 'has been classified as ', prediction, 'and should be ', label)

Errori in training set
[ 1.00e+00  1.82e-01  2.00e+00  6.30e+01  0.00e+00  0.00e+00  0.00e+00
  0.00e+00  9.00e+00  7.87e+02  9.49e+02 -1.62e+02] has been classified as  1 and should be  Fake