In [1]:
import pandas as pd

df = pd.read_csv("DataSet.csv")

In [2]:
df

,Profile Pic,Full Name Words,Nums/Length Fullname,Bio Length,External Url,Private,Verified,Business,#Posts,#Followers,#Following,Delta,Fake
0,1,2,0.0,42,1,0,0,0,102,678,405,273,0
1,1,2,0.0,0,0,0,0,0,58,334,434,-100,0
2,1,0,0.0,0,0,0,0,0,44,539,364,175,0
3,1,2,0.0,14,0,0,0,0,188,3098,286,2812,0
4,1,2,0.0,0,0,0,0,1,496,1079,1979,-900,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1,2,0.0,2,0,1,0,0,8,661,1562,-901,1
1196,0,0,0.0,0,0,0,0,0,0,2,223,-221,1
1197,1,2,0.0,58,0,1,0,0,47,296,4909,-4613,1
1198,1,1,0.0,0,0,1,0,0,0,5,67,-62,1
1199,1,1,0.0,0,0,0,0,0,3,81,6108,-6027,1

In [3]:
X=df.iloc[:, 0:11].values
X

array([[1.000e+00, 2.000e+00, 0.000e+00, ..., 1.020e+02, 6.780e+02,
        4.050e+02],
       [1.000e+00, 2.000e+00, 0.000e+00, ..., 5.800e+01, 3.340e+02,
        4.340e+02],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 4.400e+01, 5.390e+02,
        3.640e+02],
       ...,
       [1.000e+00, 2.000e+00, 0.000e+00, ..., 4.700e+01, 2.960e+02,
        4.909e+03],
       [1.000e+00, 1.000e+00, 0.000e+00, ..., 0.000e+00, 5.000e+00,
        6.700e+01],
       [1.000e+00, 1.000e+00, 0.000e+00, ..., 3.000e+00, 8.100e+01,
        6.108e+03]])

In [4]:
y=df[['Fake']]
y

      Fake
0        0
1        0
2        0
3        0
4        0
...    ...
1195     1
1196     1
1197     1
1198     1
1199     1

[1200 rows x 1 columns]

In [5]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, y)

In [31]:
clf.predict_proba([[1,0,3,0,48,1,0,1,1,4198,37674603,5]])

array([[1., 0.]])

In [32]:
clf.predict_proba([[0,0,3,0,48,1,0,1,1,4198,37,5]])

array([[0., 1.]])

In [33]:
clf.predict_proba([[1,0,3,0,48,1,0,1,1,4198,3731,5]])

array([[1., 0.]])

In [34]:
clf.predict_proba([[0,0,3,0,48,1,0,0,0,4198,3731,5]])

array([[1., 0.]])

In [36]:
clf.predict_proba([[0,0,3,0,48,1,0,1,0,414,31,5]])

array([[0., 1.]])

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

print(len(X_train), len(y_train))
print(len(X_test), len(y_test))

804 804
396 396

In [7]:
print(clf.fit(X_train, y_train))

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [8]:
print("TRAIN SET", clf.score(X_train, y_train))
print("TEST  SET", clf.score(X_test, y_test))

TRAIN SET 1.0
TEST  SET 0.952020202020202

In [9]:
print("Errori in training set")
predictions = clf.predict(X_train)
for elem, prediction, label in zip(X_train, predictions, y_train):
  if prediction != label:
    print(elem, 'has been classified as ', prediction, 'and should be ', label)

Errori in training set
[  1.   2.   0.  63.   0.   0.   0.   0.   9. 787. 949.] has been classified as  0 and should be  Fake

In [10]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, clf.predict(X_test))
print(cm)

[[194   7]
 [ 12 183]]

In [11]:
from sklearn.model_selection import cross_val_score
print(cross_val_score(clf, X, y, cv=4))

[0.92333333 0.96       0.95666667 0.95      ]

In [12]:
# cambiamo classificatore
# Support Vector Machine
from sklearn.svm import SVC
clf_svm = SVC(gamma='auto', probability=True)

In [13]:
clf_svm.fit(X_train, y_train.values.ravel())

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

In [81]:
clf_svm.predict_proba([[1,0,0,0,0,1,0,1,0,0,678,67]])

array([[0.54204254, 0.45795746]])

In [16]:
cm = confusion_matrix(y_test, clf_svm.predict(X_test))
print(cm)

[[201   0]
 [167  28]]

In [19]:
print("TRAIN SET", clf_svm.score(X_train, y_train))
print("TEST  SET", clf_svm.score(X_test, y_test))

TRAIN SET 1.0
TEST  SET 0.5782828282828283

In [23]:
# cambiamo classificatore
# Logistic Regression
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [26]:
lr.fit(X_train, y_train.values.ravel())

/home/belericks7/.local/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:
cm = confusion_matrix(y_test, lr.predict(X_test))
print(cm)

[[195   6]
 [  3 192]]

In [28]:
print("TRAIN SET", lr.score(X_train, y_train))
print("TEST  SET", lr.score(X_test, y_test))

TRAIN SET 0.9664179104477612
TEST  SET 0.9772727272727273

In [29]:
# cambiamo classificatore
# Naive Bayes
from sklearn.naive_bayes import GaussianNB
nb= GaussianNB()

In [32]:
nb.fit(X_train, y_train.values.ravel())

GaussianNB(priors=None, var_smoothing=1e-09)

In [33]:
cm = confusion_matrix(y_test, nb.predict(X_test))
print(cm)

[[123  78]
 [  1 194]]

In [35]:
print("TRAIN SET", nb.score(X_train, y_train))
print("TEST  SET", nb.score(X_test, y_test))

TRAIN SET 0.7972636815920398
TEST  SET 0.8005050505050505

In [36]:
# cambiamo classificatore
#  K-Nearest Neighbours
from sklearn.neighbors import  KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=15)

In [37]:
knn.fit(X_train, y_train.values.ravel())

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=15, p=2,
                     weights='uniform')

In [38]:
cm = confusion_matrix(y_test, knn.predict(X_test))
print(cm)

[[197   4]
 [  7 188]]

In [39]:
print("TRAIN SET", knn.score(X_train, y_train))
print("TEST  SET", knn.score(X_test, y_test))

TRAIN SET 0.9626865671641791
TEST  SET 0.9722222222222222