In [5]:
import pandas as pd

df = pd.read_csv("OfficialDataSet.csv")

In [6]:
df

,Profile Pic,Nums/Length Username,Full Name Words,Nums/Length Fullname,Bio Length,External Url,Private,Verified,Business,#Posts,#Followers,#Following,Last Post Recent,Fake
0,1,0.000,2,0.0,42,1,0,0,0,102,678,405,1.0,0
1,1,0.067,2,0.0,0,0,0,0,0,58,334,434,1.0,0
2,1,0.000,0,0.0,0,0,0,0,0,44,539,364,1.0,0
3,1,0.000,2,0.0,14,0,0,0,0,188,3098,286,1.0,0
4,1,0.000,2,0.0,0,0,0,0,1,496,1079,1979,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1,0.000,2,0.0,2,0,1,0,0,8,661,1562,NaN,1
1196,0,0.000,0,0.0,0,0,0,0,0,0,2,223,NaN,1
1197,1,0.000,2,0.0,58,0,1,0,0,47,296,4909,NaN,1
1198,1,0.143,1,0.0,0,0,1,0,0,0,5,67,NaN,1
1199,1,0.000,1,0.0,0,0,0,0,0,3,81,6108,0.0,1

In [27]:
X=df.iloc[:, 0:12].values
X

array([[1.000e+00, 0.000e+00, 2.000e+00, ..., 1.020e+02, 6.780e+02,
        4.050e+02],
       [1.000e+00, 6.700e-02, 2.000e+00, ..., 5.800e+01, 3.340e+02,
        4.340e+02],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 4.400e+01, 5.390e+02,
        3.640e+02],
       ...,
       [1.000e+00, 0.000e+00, 2.000e+00, ..., 4.700e+01, 2.960e+02,
        4.909e+03],
       [1.000e+00, 1.430e-01, 1.000e+00, ..., 0.000e+00, 5.000e+00,
        6.700e+01],
       [1.000e+00, 0.000e+00, 1.000e+00, ..., 3.000e+00, 8.100e+01,
        6.108e+03]])

In [28]:
y=df[['Fake']]
y

      Fake
0        0
1        0
2        0
3        0
4        0
...    ...
1195     1
1196     1
1197     1
1198     1
1199     1

[1200 rows x 1 columns]

In [29]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, y)

In [31]:
clf.predict_proba([[1,0,3,0,48,1,0,1,1,4198,37674603,5]])

array([[1., 0.]])

In [32]:
clf.predict_proba([[0,0,3,0,48,1,0,1,1,4198,37,5]])

array([[0., 1.]])

In [33]:
clf.predict_proba([[1,0,3,0,48,1,0,1,1,4198,3731,5]])

array([[1., 0.]])

In [34]:
clf.predict_proba([[0,0,3,0,48,1,0,0,0,4198,3731,5]])

array([[1., 0.]])

In [36]:
clf.predict_proba([[0,0,3,0,48,1,0,1,0,414,31,5]])

array([[0., 1.]])

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

print(len(X_train), len(y_train))
print(len(X_test), len(y_test))

804 804
396 396

In [63]:
print(clf.fit(X_train, y_train))

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [64]:
print("TRAIN SET", clf.score(X_train, y_train))
print("TEST  SET", clf.score(X_test, y_test))

TRAIN SET 1.0
TEST  SET 0.9545454545454546

In [65]:
print("Errori in training set")
predictions = clf.predict(X_train)
for elem, prediction, label in zip(X_train, predictions, y_train):
  if prediction != label:
    print(elem, 'has been classified as ', prediction, 'and should be ', label)

Errori in training set
[1.00e+00 1.82e-01 2.00e+00 0.00e+00 6.30e+01 0.00e+00 0.00e+00 0.00e+00
 0.00e+00 9.00e+00 7.87e+02 9.49e+02] has been classified as  0 and should be  Fake

In [72]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, clf.predict(X_test))
print(cm)

[[196   5]
 [ 13 182]]

In [69]:
from sklearn.model_selection import cross_val_score
print(cross_val_score(clf, X, y, cv=4))

[0.92333333 0.96333333 0.94666667 0.94333333]

In [73]:
# cambiamo classificatore
# Support Vector Machine
from sklearn.svm import SVC
clf_svm = SVC(gamma='auto', probability=True)

In [84]:
clf_svm.fit(X_train, y_train.values.ravel())

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

In [81]:
clf_svm.predict_proba([[1,0,0,0,0,1,0,1,0,0,678,67]])

array([[0.54204254, 0.45795746]])

In [82]:
cm = confusion_matrix(y_test, clf_svm.predict(X_test))
print(cm)

[[201   0]
 [167  28]]

In [83]:
print("TRAIN SET", clf_svm.score(X_train, y_train))
print("TEST  SET", clf_svm.score(X_test, y_test))

TRAIN SET 1.0
TEST  SET 0.5782828282828283